HEADER {
    border : 1px solid purple;
}
nav {
    border: 1px solid purple;
}

article {
    border: 1px solid blueviolet;
}

section {
    border: 1px blueviolet;
}

aside {
    border:  1px blue;
}